*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
main{
    display: flex;
    justify-content: space-around;
}
.first-section{
    width: 8%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icons{
    margin: 30px;
   
}
.icons>div{
    padding: 10px;
}
.icons>div>i{
    font-size: 25px;
}
.viking-logo{
    width: 20%;
    margin: 35px;
    
}
.viking-logo>.desktop-logo{
    width: 100%;
}
.viking-logo>.mobile-logo{

    display: none;
}
.second-section{
    width: 40%;
   

}
.second-section>div>img{
    width: 100%;
    height: 100vh;
}
.third-section{
    width: 45%;
    
}
.navBar{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-family: sans-serif;
}
.heading-one{
    font-size: 70px;
    margin: 25px;
    font-family: sans-serif;

}
.para-one{
    font-size: 20px;
    margin: 30px ;
    font-family: sans-serif;

}
footer{
    margin-left: 30px;
} 


 
